body{
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex; /* permet de centrer la box*/
    align-items: center; /* permet de centrer la box*/
    justify-content: center; /* permet de centrer la box*/
}

.connectContainer{
    background: #ffffff;
    width: 30%;
    height: 50%;
    display: flex; 
    align-items: center; 
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px  5px 15px -10px rgba(0.1, 0.1, 0.2, 0.2)
}

.connectTitle{
    margin-top: 45px;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    color: #383d42;
}

input{
    padding: 12px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border: none;
    width: 80%;
}

.connectInput{
    margin-top: 30px;
    background-color: #e5ebeb;
}

::placeholder{
    color: #85888a;
}

.connectButton{
    margin-top: 40px;
    color: #f9f9f9;
    background-color: #4082a1;
    cursor: pointer;
    box-shadow: 0  17px 10px -10px rgba(0, 0, 0, 0.4)
}

.connectButton:hover{
    box-shadow: 0  37px 20px -20px rgba(0, 0, 0, 0.3);
    transform: translate(0, -5px)
}

.changePassword{
    margin-top: 18px;
    text-decoration: none;
    color: #85888a;
}

/*------- responsive ------- */
@media screen and (max-width: 1200px) {
    .connectContainer {
      width: 40%;
    }
  }
@media screen and (max-width: 900px) {
    .connectContainer {
      width: 70%;
    }
  }
@media screen and (max-width: 600px) {
    .connectContainer {
      width: 100%;
    }
  }
  
@media screen and (max-height: 850px) {
    .connectContainer {
      height: 52%;
    }
  } 
@media screen and (max-height: 800px) {
    .connectContainer {
      height: 55%;
    }
  } 
@media screen and (max-height: 750px) {
    .connectContainer {
      height: 60%;
    }
  } 
@media screen and (max-height: 700px) {
    .connectContainer {
      height: 65%;
    }
  } 